#firstline{color: red}
body{
    margin: 0;
}
#bannerimage{
    width: 100%;
    background-image: url(./images/shockedblackguy3.jpg);
    height: 405px;
    background-position:center;
}
#bannerimage2{
    width: 100%;
    background-image: url(./images/devilvortex.jpg);
    height: 405px;
    background-position: center;
}
#bannerimage3{
    width: 100%;
    background-image: url(./images/demonbanner.JPG);
    height: 395px;
    background-position: center;
}
ul.navbar{
    list-style-type: none;
    background-color: rgb(59, 59, 59);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li.navbar{
    float: left;
}
li.navbar a{
    display: block;
    color: rgb(175, 174, 174);
    text-align: center;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}
li.navbar a:hover{
    color: white;
}
#navbarmain{
    padding-left: 25px;
    width: 100px;
    height: 20px;
    font-size: 22px;
}

#herotext{
    text-align: center;
    padding-top: 80px;
    color: white;
    font-family: sans-serif;
}
#logo{
    width: 83px;
    background-image: url(./images/opduck.jpg);
    height: 83px;
    position: absolute;
    top: 7%;
    left: 1%;
}
.button{
    background-color:aquamarine;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#intro{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2% 10%;
    font-size: 24px;
}
.linklayout{
    margin: 20px;
    align-self: center;
    display: flex;
}
#mylinks{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color:#ff9843;
    font-size: 50px;
}
#blehcat{
    width: 100px;
    position: absolute;
    top: 69%;
    left: 38%;
}
#shockedcat{
    width: 100px;
    position: absolute;
    top: 69%;
    left: 56.5%;
}
.links{
    background-color:#ffdd95;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 20px;
    border-style: solid;
    border-color: #86a7fc;
    border-width: 2px;
    text-decoration: none;
    color: #3468c0;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}




#socialmedia{
    margin-top: 50px;
}
#monkey{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 10%;
}






.listnavbar{
    background-color: rgb(59, 59, 59);
    overflow: hidden;
    height: 60px;
    width: 1500px;
    margin: auto;
}
.listnavbar a{
    color: white;
    text-align: center;
    padding: 30px 201px;
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
}
.listnavbar a:hover{
    background-color:rgb(109, 109, 109);
}
navbar{
    text-align:center;
}


.list{
    list-style-type: none;
}
#disclaimer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 30px 350px
}
#littlenote{
    font-size: 5px;
}

.num1{
    display: flex;
}
.num2{
    display: flex;
}
.block1{
    font-size: 80px;
}

.block2{
    margin-left: 40px;
    margin-top: 35px;
    width: 250px;
}
.block3{
    margin-left: 50px;
    margin-top: 100px;
}
.name{
    font-size: 50px;
}
.creator{
    margin-top: -40px;
}
/*
.block1{
    font-size: 100px;
    float: left;
    padding-right: 100px;
}
.block2{
    float: left;
    padding: 10px;
}
.block3{
    float: left;
    padding: 10px;
}
*/

#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 600px;
    height: 600px;
}